---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Map from "../components/Map.astro";
import Card from "../components/Card.astro";
import Product from "../components/Product.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="La Ballena Azul Barranquilla">
  <Header />
  <main class="flex flex-col gap-10 mt-5 xl:gap-20">
    <section class="flex flex-col px-5 relative min-h-96">
      <Hero />
    </section>
    <section class="px-5">
      <Map />
    </section>
    <section class="px-5 bg-white py-10 flex flex-col gap-5">
      <h1 class="text-2xl font-semibold flex gap-2 items-center text-orange">
        <svg width="30" height="30" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"
          ></path></svg
        >
        Platos Populares
      </h1>
      <div class="flex flex-col gap-5 xl:flex-row">
        <Card />
        <Card />
        <Card />
      </div>
    </section>
    <section class="px-5 flex flex-col gap-5">
      <h1 class="text-white text-2xl font-semibold flex gap-2 items-center">
        <svg width="35" height="35" viewBox="0 0 24 24"
          ><g
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            ><path
              d="M6.331 8H17.67a2 2 0 0 1 1.977 2.304l-1.255 8.152A3 3 0 0 1 15.426 21H8.574a3 3 0 0 1-2.965-2.544l-1.255-8.152A2 2 0 0 1 6.331 8"
            ></path><path d="M9 11V6a3 3 0 0 1 6 0v5"></path></g
          ></svg
        >
        Productos Destacados
      </h1>
      <div class="flex flex-col gap-5 xl:flex-row">
        <Product />
        <Product />
        <Product />
      </div>
    </section>
    <Footer />
  </main>
</Layout>
