---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Map from "../components/Map.astro";
import Card from "../components/Card.astro";
---

<Layout title="La Ballena Azul Barranquilla">
  <Header />
  <main class="flex flex-col gap-10 mt-5">
    <section class="flex flex-col max-h-screen px-5">
      <Hero />
    </section>
    <section class="px-5">
      <Map />
    </section>
    <section class="px-5">
      <h1 class="text-white text-xl font-semibold">Productos Destacados</h1>
      <div class="flex flex-col gap-5">
        <Card />
        <Card />
        <Card />
      </div>
    </section>
    <section class="px-5">
      <h1 class="text-white text-xl font-semibold">Platos Populares</h1>
      <div class="flex flex-col gap-5">
        <Card />
        <Card />
        <Card />
      </div>
    </section>
    <section class="px-5">
      <h1 class="text-white text-xl font-semibold">Acerca Nosotros</h1>
    </section>
  </main>
</Layout>
