---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <p>categorias, entradas, platos fuertes, postres, bebidas</p>

  <p>platos recomendados del cef, platos populares</p>

  <p>recetas y videos</p>
</Layout>
