---

---

<div class="px-2 py-4 border-2 border-[#dedede] shadow">
  <div class="flex items-center gap-4">
    <img
      src="./salmonplancha.jpg"
      alt=""
      class="rounded-full w-24 h-24"
    />
    <div class="flex flex-col gap-2">
      <h1 class="font-semibold">Salmón a la Plancha</h1>
      <p class="text-sm text-greyBlack">
        Delicioso filete de salmón fresco, cocinado a la perfección. Ideal para
        los amantes de una comida saludable y llena de sabor.
      </p>
      <div class="flex gap-1">
        <svg class="text-orange" width="29" height="29" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"
          ></path></svg
        ><svg class="text-orange" width="29" height="29" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"
          ></path></svg
        ><svg class="text-orange" width="29" height="29" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"
          ></path></svg
        ><svg class="text-orange" width="29" height="29" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"
          ></path></svg
        ><svg class="text-orange" width="29" height="29" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"
          ></path></svg
        >
      </div>
      <div class="flex">
        <button
          class=" w-full text-orange shadow-md border-greyBlack border-opacity-40 font-semibold tracking-wide px-4 py-2 "
        >
          Ordenar
        </button>
      </div>
    </div>
  </div>
</div>
