---
---
<div
class="fixed left-0 bottom-0 bg-greyBlack p-5 flex flex-col gap-3 w-screen"
>
<h1 class="text-white text-lg font-medium">
  Recibe mensajes para que no te pierdas ningunos de nuestras ofertas para
  ti
</h1>
<div>
  <button
    class="border p-2 rounded-lg w-52 bg-blue text-white font-bold tracking-wide"
    >Acepto</button
  >
  <button
    class="border p-2 rounded-lg w-52 text-orange font-bold tracking-wide"
    >No, gracias.</button
  >
</div>
</div>