---

---

<div class="flex flex-col gap-4 pb-4 bg-grey shadow-lg max-w-xl m-auto">
  <div class="flex items-center gap-10 bg-greyBlack text-grey">
    <img src="./kitdesushi.png" alt="" class="w-32 h-32 object-contain" />
    <div class="flex flex-col gap-1">
      <h1 class="font-semibold text-xl">Kit de Sushi</h1>
      <p class="fonts-bold">$35.200</p>
      <p class="text-xs font-black text-orange">Envio Rapido</p>
    </div>
  </div>
  <p class="px-4 text-sm text-greyBlack text-start">
    500 gr de arroz Nishiki, 5 hojas de alga nori Best Choice, 250 ml de vinagre
    de arroz Best Choice, 1 sachet por 6 ml de salsa de soya Kikkoman, Esterilla
    para sushi, 1 sachet de gari JFC por 5 gr, 1 sachet de wasabi S&B por 2.5
    grDF
  </p>
  <div class="flex items-center justify-center gap-4">
    <button
      class="px-5 border py-1 bg-orange text-white font-semibold shadow-sm"
      >Comprar</button
    >
    <button
      class="px-5 py-1 shadow-md text-orange font-bold border-t-1 border-grey"
      >Recetas</button
    >
  </div>
</div>
